<h2 class="page-title">Login</h2>

<div class="form-container">
  <%= form_with url: login_path, method: :post, local: true, class: "auth-form" do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, required: true %>
    </div>

    <div class="form-group">
      <%= f.submit "Log In", class: "btn" %>
    </div>
  <% end %>
</div>